<ion-content [fullscreen]="true" color="tertiary">
  <div class="logos">
    <h1>Crie sua SENHA</h1>
    <div class="imgs">
      <div class="blur"></div>
      <img src="../../assets/logo.png" alt="" id="logo">
      <img src="../../assets/password.jpg" id="pass" alt="">
    </div>
    
  </div>

  <div id="container">
    <ion-item class="inputs">
      <ion-input placeholder="Senha" labelPlacement="stacked" type="password">
      </ion-input>
    </ion-item>

    <ion-item class="inputs">
      <ion-input placeholder="Confirme sua senha" labelPlacement="stacked" type="password">
      </ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="linha"></div>
        </ion-col>
        <ion-col>
          <ion-button shape="round" routerLink="/bem-vindo">
            Próximo</ion-button>
        </ion-col>
        <ion-col>
          <div class="linha"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
