@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

ion-content {
  --background: linear-gradient(#003552, #6a99b3)
}

.logo {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 2rem;
}

.logo img {
  width: 55%;
}

#container {
  padding: 7% 7% 0 7%;
  background-color: transparent;
  box-sizing: border-box;
}

ion-input {
  --background: rgba(0, 0, 0, 0)
  --outline: white
}

ion-item {
  --background: rgba(0, 0, 0, 0)
}

.termo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.termo a {
  color: white;
  font-family: "League Spartan";
  font-weight: 600;
}

ion-col ion-button{
  --padding-top: 5%;
  --padding-bottom: 5%;
}

.inputs{
  border: solid 2px white;
  border-radius: 30px;
  margin-bottom: 3%;
}

#concordo{
    margin-right: 3%;
}

#city{
  opacity: 50%;
  width: 100vw;
  position: absolute;
  bottom: 0%;
  z-index: -1;
}