<ion-content [fullscreen]="true">
  <div class="logo">
    <h1>Segurança Pública</h1>
    <img src="../../assets/logo.png" alt="">
  </div>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input class="custom" placeholder="E-mail" labelPlacement="stacked" type="email">
          <ion-icon slot="start" name="mail-outline" color="light" size="large"></ion-icon>
          <ion-button slot="end" fill="clear">
            <ion-icon name="chevron-down-outline" color="light" size="large"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Senha" labelPlacement="stacked" type="password">
          <ion-icon size="large" slot="start" name="lock-closed-outline" color="light"></ion-icon>
          <ion-button fill="clear" slot="end">
            <ion-icon name="eye-outline" color="light" size="large"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>